{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a teacher of mathematics, statistics, and computer science.</h3>
        <h3></h3>
        <h3>Here are a few recent <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3>
        <h3><a href="mailto:{{ .Site.Params.Social.Email }}"><i class="fa fa-envelope big-icon"></i></a>
            <a href="{{ .Site.BaseURL }}resume/"><i class="fa fa-file-text big-icon"></i></a></h3>
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
